<template>
  <header>
    <h1>
      <img id="logo" src="../../assets/images/logo-sneaker.png" />Pi Shoes
    </h1>
    <div class="utilities">
      <div class="cart">
        <a>
          <i class="fas fa-shopping-cart"></i>
        </a>
        <span id="count_cart">{{ cart.length }}</span>
      </div>
      <div class="login">
        <i class="fas fa-user"></i>
      </div>
      <div class="setting">
        <i class="fas fa-cog"></i>
      </div>
      <div class="heart">
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </header>
</template>

<script>
export default {
    name: 'HeaderComponent'
};
</script>

<style scoped>
header {
  color: #fff;
  padding: 20px 30px;
  background-image: linear-gradient( to bottom right, rgb(0, 115, 230), rgb(207, 238, 170));
}
header h1 {
    float: left;
    transform: translate(-33%, 0);
}
#logo{
    width: 10%;
    padding-right: 10px;
}
.cart {
  padding: 0px 10px;
  border: 1px solid #3333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: all 0.5s;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
}
#count_cart {
  font-size: 13px;
  position: absolute;
  background-color: #f7bb1f;
  width: 25px;
  top: -2px;
  left: 19px;
  height: 17px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 2;
}

.login, .setting, .heart {
    padding: 7px 10px;
    border: 1px solid #3333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: all 0.5s;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    color: black;
    margin-right: 30px;
}
.login:hover, .setting:hover, .cart:hover, .heart:hover {
    background-color: #03adfc;
    color: white;
}


.utilities {
  display: flex;
  margin-left: 800px;
}
</style>