
<template>
  <div class="navbar">
    <br />
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Search" />
      <div class="input-group-append" >
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <br />
    <div class="nav-container">
      <p class="lable-menu">SNEAKER</p>
      <ul class="main-nav-shoes" id="main-nav-shoes-2">
        <li class="li-item">
          <input class="check" id="all" type="checkbox" />
          <label for="all" href="#all">All</label>
        </li>
        <li class="li-item">
          <input class="check" id="nike" type="checkbox" />
          <label for="nike" href="#nike">Nike</label>
        </li>
        <li class="li-item">
          <input class="check" id="adidas" type="checkbox" />
          <label for="adidas" href="#nike">Adidas</label>
        </li>
        <li class="li-item">
          <input class="check" id="vans" type="checkbox" />
          <label for="vans" href="#vans">Vans</label>
        </li>
        <li class="li-item">
          <input class="check" id="puma" type="checkbox" />
          <label for="puma" href="#puma">Puma</label>
        </li>
        <li class="li-item">
          <input class="check" id="converse" type="checkbox" />
          <label for="converse" href="#converse">Converse</label>
        </li>
        <li class="li-item">
          <input class="check" id="jordan" type="checkbox" />
          <label for="jordan" href="#jordan">Jordan</label>
        </li>
        <!-- padding ở đây là khoảng cách chữ với khung viền bao quanh -->
      </ul>
    </div>

    <div class="nav-container">
      <div id="myBtnContainer">
        <p class="lable-menu">PRICE</p>

        <div class="max-min">
            <ul class="main-nav-shoes" id="main-nav-shoes-2">
                <li class="li-item">
                    <label for='min-price'>Min Price($):</label>
                </li>
                <li class="li-item">
                    <input id='min-price' type='number' min='100' max='1000000'>
                </li>
                <li class="li-item">
                    <label for='max-price'>Max Price($):</label>
                </li>
                <li class="li-item">
                    <input id='max-price' type='number' min='500' max='1000000'>
                </li>
            </ul>
        </div>

        
      </div>
    </div>

    <div class="colors">
      <p class="lable-menu">COLORS</p>
      <div class="cb-color" id="myBtnContainer">
        <label>
          <button class="click-color" id="blue">
            <span class="bg-color" style="background-color: blue"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="yellow">
            <span class="bg-color" style="background-color: yellow"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="red">
            <span class="bg-color" style="background-color: #ff0000"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="white">
            <span class="bg-color" style="background-color: #f4f4f4"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="black">
            <span class="bg-color" style="background-color: black"></span>
          </button>
        </label>
        <br />
        <label>
          <button class="click-color" id="pink">
            <span class="bg-color" style="background-color: pink"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="tomato">
            <span class="bg-color" style="background-color: #ff674d"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="teal">
            <span class="bg-color" style="background-color: teal"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="earth ">
            <span class="bg-color" style="background-color: sienna"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="skin">
            <span class="bg-color" style="background-color: #e7d3ad"></span>
          </button>
        </label>
        <br />
        <label>
          <button class="click-color" id="violet">
            <span class="bg-color" style="background-color: violet"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="blue-1">
            <span class="bg-color" style="background-color: #83c3fb"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="green">
            <span class="bg-color" style="background-color: #588732"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="red+1">
            <span class="bg-color" style="background-color: #c10013"></span>
          </button>
        </label>
        <label>
          <button class="click-color" id="grey">
            <span class="bg-color" style="background-color: grey"></span>
          </button>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MenuComponent",
};
</script>

<style scoped>
.navbar {
  height: 100vh;
  display: block;
}


.main-nav-menu {
  float: right;
  list-style: none;
  overflow: hidden;
  margin-top: 0;
}

.main-nav-menu li {
  display: inline;

  font-size: 22px;
  font-weight: bold;
}

.main-nav-menu li a {
  text-decoration: none;
  color: #000;
}

.click {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: white;
  width: 50%;
  text-align: left;
}
.click a {
  text-decoration: none;
  width: 50%;
}

.main-nav-menu li a:hover {
  color: #0066cc;
}


.lable-menu {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #0066cc;
  margin-bottom: 0px;
  margin-left: 7px;
}

.cb-color .bg-color {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 999;
  display: block;
}

.cb-color {
  margin-top: 22px;
  word-spacing: 16px;
  line-height: 2.7;
  margin-left: 20px;
}

.bg-color:hover {
  border: black 2px solid;
}

.click-color {
  outline: none;
  box-shadow: none;
  border: none;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.main-nav-shoes li {
  list-style: none;
  text-align: left;
  white-space: nowrap;
}

.main-nav-shoes li a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  border: none;
  font-weight: 500;
}

.nav-container {
  width: 300px;
}
.main-nav-shoes {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.li-item {
  padding: 20px 0px;
  box-sizing: border-box;
  width: 120px;
}
.main-nav-shoes > li > label {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
.main-nav-shoes > li > label:after {
  display: block;
  content: "";
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 350ms ease-in-out;
}

.main-nav-shoes > li > label:hover:after {
  transform: scaleX(1);
}
.main-nav-shoes > li > label:after {
  transform-origin: 100% 50%;
}
.main-nav-shoes > li > label:after {
  transform-origin: 0% 50%;
}

.check {
  margin-right: 5px;
}

.colors {
  background-color: white;
}


.cb-color .bg-color {
  width: 32px;
  height: 32px;

  position: relative;
  z-index: 999;
  display: block;
  background-color: white;
}

.cb-color {
  margin-top: 22px;
  word-spacing: 20px;

  line-height: 2.7;
  margin-left: 20px;
}

.click-color {
    padding: 0;
    margin: 8px;
}
</style>