<template>
<div>
  <header>
    <h1>Header</h1>
  </header>
  <div class="row">
    <div class="container">
      <div class="status">
            <p class="inner-box" id="inner-box-1">1</p>
            <p class="status-bar" id="status-1">View Cart</p>
            <p class="inner-box" id="inner-box-2">2</p>
            <p class="status-bar" id="status-2">Order Information</p>
            <p class="inner-box" id="inner-box-3">3</p>
            <p class="status-bar" id="status-3">Pay</p>
        </div>


      <div class="product">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Product Information</th>
              <th scope="col">Price</th>
              <th scope="col">Amount</th>
              <th scope="col">Total</th>
              <th id="action" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(cart, index) in listCart" :key="index">
              <td class="td-img">
               
              </td>
              <td class="infoShoes">
                <p class="nameShoes">{{ cart.name }}</p>
                <p class="shoeType">{{ cart.description }}</p>
                <p class="trademark">{{ cart.categoryId }}</p>
                
              </td> 
              <td>{{ formatFinalPrice(index) }}</td>
              <td class="amount">
                <input @onChange="handleTotalPrice()" class="input" type="number" name="" id="" min="1" :value="cart.amount" />
              </td>
              <td>
               {{cart.total}}
              </td>
              <td class="delete">
                <img src="../assets/remove.png" alt="">
                <button class="btn btn-primary" @click="deleteEvent(cart.id)">                                 
                  Remove
                </button>
              </td>
            </tr>
            <div></div>
          </tbody>

          <!-- <h4>{{ total() }}</h4> -->
        </table>
        <div class="count">
          <h3>Count Cart: {{ count() }}</h3>
          <span class="through">{{ formatTotalPrice() }}</span>
          <p>
            <span> Discount Code:</span>

            <input
              class="discount-input"
              placeholder="Enter the discount code..."
            />
          </p>
          <p>
            <span class="totalMoney">SALE: {{ sale * 100 }}%</span>
          </p>
          <p>
            <span class="totalMoney"
              >TOTAL MONEY: {{ formatFinalTotalPrice() }}</span
            >
          </p>
          <p><button class="order">ORDER  </button>

          <button class="home" @click="backHome">  Back to home</button></p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <h1>Footer</h1>
  </footer>
</div>
</template>

<script>
// TODO: Chưa xử lý input
export default {
  data() {
    return {
      sale: 0.2,
      price: 0,
      
      listCart: [
        {
          id: 1,
          name: "Nike 2019",
          description: "Giày chống nước",
          categoryId: "Nike",
          price: 200000,
          amount: 1,
          total: 200000,

          discount: {
            value: "20%",
            type: "Nike",
          },
          unit: {
            value: "",
            symbol: "USD",
          },
        },
        {
          id: 2,
          name: "Vans 2019",
          description: "Giày chống nước2",
          categoryId: "Nike",
          price: 400000,
          amount: 1,
          total:400000,

          discount: {
            value: "20%",
            type: "Nike",
          },
          unit: {
            value: "",
            symbol: "USD",
          },
        },
        {
          id: 3,
          name: "AIR FORCE 1 OFF-WHITE",
          description: "Giày chống nước3",
          categoryId: "Nike",
          price: 300000,
          amount: 1,
          total: 300000,

          discount: {
            value: "20%",
            type: "Nike",
          },
          unit: {
            value: "",
            symbol: "USD",
          },
        },
      ],
    };
  },
  computed: {},
  created: function () {
    this.sumPrice();
  },

  methods: {
    count() {
      return this.listCart.length;
    },
    backHome() {
          this.$router.push('/')
      },
    // TODO: Convert the product price according to 'Currency'
    formatOriginalPrice(index) {
      let number = this.listCart[index].price;
      return new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "USD",
      }).format(number);
    },
    // TODO: Convert the product price according to 'Currency'
    formatFinalPrice(index) {
      let number =
        this.listCart[index].price - this.sale * this.listCart[index].price;
      return new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "USD",
      }).format(number);
    },
    // TODO: 
    handleTotalPrice(index) {
      let number =
        this.listCart[index].price * this.listCart[index].amount;
      let numberFormatted = new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "USD",
      }).format(number)
      this.listCart[index].total = numberFormatted;
      return numberFormatted;
    },
    // TODO: Convert the product price according to 'Currency'
    formatTotalPrice() {
      let number = this.price;
      return new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "USD",
      }).format(number);
    },
    // TODO: Convert the product price according to 'Currency'
    formatFinalTotalPrice() {
      let number = this.price - this.sale * this.price;
      return new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "USD",
      }).format(number);
    },
    deleteEvent(id) {
      this.listCart = this.listCart.filter((e) => e.id !== id);
    },
    //function sum price items
    sumPrice: function () {
      this.listCart.forEach((element) => {
        this.price += parseInt(element.price);
      });
    },
  },
};
</script>

<style>
/* status */
.status {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  text-align: center;
}

.status-bar {
  border: 1px solid #ccc;
  background-color: #3498db;
  height: 30px;
  width: 30%;
  border-left: none;
  border-right: none;
}
.inner-box {
  border: 1px solid #ccc;
  background-color: #3498db;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translate(0, -13%);
  padding-top: 5px;
  font-weight: bold;
}

#status-2,
#status-3 {
  background-color: whitesmoke;
}
#inner-box-2,
#inner-box-3 {
  background-color: whitesmoke;
}
#status-1,
#inner-box-1 {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px grey;
}

header {
  color: #fff;
  padding: 15px 30px;
  background-color: #0066cc;
}

img {
  width: 90%;
  transition: all ease-in-out 0.3s;
}

td {
  padding-left: 9px !important;
  vertical-align: middle;
}

.td-img {
  width: 22%;
}

.infoShoes {
  line-height: 0.5;
  width: 290px;
}

.nameShoes {
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}

.nameShoes:hover {
  color: #3498db;
}

.amount {
  font-size: 20px;
}

.amount i {
  font-size: 25px;
  transition: all 0.3s;
}

.amount-number {
  padding: 10px;
}

.amount i:hover {
  color: #3498db;
}

.amount i {
  cursor: pointer;
}

.delete {
  font-size: 20px;
  transform: translate(18%, 0);
  transition: all 0.3s;
  cursor: pointer;
}

.delete:hover {
  color: #3498db;
}

.row {
  vertical-align: middle;
}

.count {
  float: right;
  margin-right: 50px;
  font-size: 17px;
  line-height: 18px;
}

.totalMoney {
  color: #3498db;
  font-weight: bold;
  padding-left: 15px;
  font-size: 22px;
}

.discount-input {
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 15px;
  padding-left: 10px;
  height: 30px;
  outline: none;
  width: 220px;
}

.order {
  border-radius: 10px;
  border: none;
  background-color: #0066cc;
  color: white;
  width: 195px;
  height: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.home {
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  background-color: #0066cc;
  color: white;
  width: 195px;
  height: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.order:hover {
  background-color: #3498db;
  color: white;
}

footer {
  color: #fff;
  padding: 15px 30px;
  background-color: #0066cc;
}

header h1,
footer h1 {
  margin: 0;
}
.through {
  text-decoration: line-through;
}
.input {
  width: 80px;
}
.delete img {
  width: 35px;
}

#action{
  transform: translate(33%, 0);
}
</style>