<template>
  <div class="error">
    <p>404</p>
    <h1>Not Found</h1>
    <a v-on:click="backHome">Back to home</a>
  </div>
</template>

<script>
export default {
  name: "PageNotFound",
  methods: {
      backHome() {
          this.$router.push('/')
      }
  }
};
</script>

<style scoped>
.error {
  
  margin: auto;
  width: 500px;
}

.error {
    align-items: center;
    display: flex;
    flex-direction: column;
}
p{
    font-size: 200px;
}

a{
    text-decoration: underline  !important;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
}
a:hover {
    color: green !important;
}
</style>