<template>
  <div class="row">
    <div class="col-3">
      <MenuComponent/>
    </div>
    <div class="col-9">
      <div>
        <header>
          <h1>HEADER</h1>
          <div class="cart">
            <router-link to="/cart" :carts="cart">
              <img class="cart-img" src="/images/cart.jpg"/>
            </router-link>
            <span id="count_cart">{{ cart.length }}</span>
          </div>
        </header>
        <div class="row product-list">
          <div class="col-4 shoes-product" v-for="(product, item) in products" :key="item">
            <div class="item white gia4">
              <img id="img-buy" src="/images/shoes.png" />
              <div class="sale">
                <div class="percent">{{product.discount.value}}%</div>
                <div class="text">Sale</div>
              </div>
              <p class="name-shoes">{{ product.name }}</p>
               <p class="price">{{formatOriginalPrice(product.price)}}</p>
              <p
                class="price-sale"
              >{{formatOriginalPrice(product.price*((100- product.discount.value)/100))}}</p>
             

              <div class="fs_cart" @click="addCart(product)">
                <a>
                  <i class="fas fa-shopping-cart"></i>
                  Add to cart
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { products } from "../product";
import MenuComponent from "./layout/MenuComponent";
import HeaderComponent from "./layout/HeaderComponent";
import Cart from "./Cart"

export default {
  data() {
    return {
      products: products,
      cart: JSON.parse(localStorage.getItem("product")) || [],
    };
  },
  components: {
    MenuComponent,
    Cart,
    HeaderComponent
  },
  methods: {
    addCart(product) {
      this.cart.push(product);
      localStorage.setItem("product", JSON.stringify(this.cart));
      console.log(this.cart);
    },
    formatOriginalPrice(product) {
      var number = product;
      return new Intl.NumberFormat("de-DE", {
        style: "currency",
        currency: "USD",
      }).format(number);
    },
  },
};
</script>

<style scoped>
p {
  text-align: center;
}
.nav-pagination {
  margin: 0 auto;
}
.pagination{
  justify-content: center;
}

header {
  color: #fff;
  padding: 15px 30px;
  background-color: #3498db;
}
.cart {
  padding: 0px 10px;
  border: 1px solid #3333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: all 0.5s;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transform: translate(1600%, 0);
}
#count_cart {
  font-size: 13px;
  position: absolute;
  background-color: #93c8ec;
  width: 25px;
  top: -2px;
  left: 19px;
  height: 17px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 2;
}
.price {
  text-decoration: line-through;
  transform: translate(0, 60%);
}
.price-sale{
  
  font-weight: bold;
  font-size: 17px;
}
/* .cart:hover, */
.acount:hover,
.heart:hover,
.search:hover {
  background-color: #03a9f4;
  transition: 0.3s;
}
.acount a i,
.cart a i,
.heart a i,
.search a i {
  padding-top: 13px;
}
.cart-img{
  align-items: center;
  width: 35px;
  margin-left: -3px;
  margin-top: 6px;
}
.a_acount,
.cart a,
.heart a,
.search a {
  color: #333;
}
.acount .a_acount:hover,
.cart a:hover,
.heart a:hover,
.search a:hover {
  color: #fff;
}
header h1,
footer h1 {
  margin: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.row-buy-3 {
  display: block;
  padding-top: 30px;
  max-width: 952px;

  margin: 0 auto;
  float: left;
  margin-bottom: 40px;
}
.shoes-product {
  margin-bottom: 30px;
  margin-top: -30px;
}
#img-buy{
  margin-left: 60px;
}
.sale {
  background: rgba(255, 212, 36, 0.9);
  text-align: center;
  width: 90px;
  height: 64px;
  left: 210px;
  bottom: 261px;
  padding: 10px;
  position: absolute;
  font-weight: 400;
  line-height: 0.8125rem;
  color: #ee4d2d;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-top-right-radius: 19px;
  font-size: 18px;
  
}

.sale:after {
  content: "";
  width: 90px;
  height: 26px;
  left: 0;
  bottom: -4px;
  position: absolute;
  border-color: transparent rgba(255, 212, 36, 0.9);
  border-style: solid;
  border-width: 0px 45px 4px;
}

.text {
  color: #fff;
  font-size: 18px;
}

.percent{
  font-size: 18px;
  margin-bottom: px;
}

.fs_cart {
  padding: 10px;
  background-color: #ffc222;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 15px;
  display: none;
}
.fs_cart:hover {
  background-color: #0080ff;
}
.fs_cart a:hover {
  color: #fff;
}
.product-list {
  margin-top: 50px;
}
.item {
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  transition: all 1s;
  position: relative;
  cursor: pointer;
}
.item::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #93c8ec;
  top: 30%;
  bottom: 20%;
  left: 15px;
  right: 10px;
  width: 90%;
  border-radius: 20px;
  opacity: 0.2;
  z-index: -1;
  transition: all 0.2s;
}
.item:hover::before {
  top: 5%;
  opacity: 0.8;
}
.item:hover .fs_cart {
  display: block;
  cursor: pointer;
}

.shoes-product-label {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-top: 40px;
}

#label-shoes::after {
  content: " ";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #0080ff;
  margin-top: 5px;
}
.name-shoes {
  font-size: 17px;
  font-weight: bold;
  color: black;
  margin-top: 0px;
  transition: all 0.3s;
  text-align: center;
}
.shoes-product img {
  width: 60%;

  object-fit: contain;
  transition: all 0.5s;
  margin-top: 20px;
}

.shoes-product a {
  text-decoration: none;
}

.name-shoes {
  font-size: 17px;
  font-weight: bold;
  color: black;

  margin-top: 0px;

  transition: all 0.3s;

  text-align: center;
}

.name-shoes:hover,
.name-shoes:active {
  color: #0059b3;
}
</style>
